<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FRIENDS PROFILE</title>
</head>
<body>
    <h1>Alias: <font color="green">{{ user.alias }}'s</font> Profile</h1>
        <h2>Name: <font color="green">{{ user.first}} {{ user.last }}</font></h2>
        <h2>Email: <font color="green">{{ user.email }}</font></h2>
        <form action="/success">
            {% csrf_token %}
            <button>HOME</button>
        </form><br>
        <form action="/logout" method="post">
            {% csrf_token %}
            <button>LOG OUT</button>
        </form>
</body>
</html>